@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-element {
    @apply mx-auto max-w-7xl px-8;
  }
  .btn-hover {
    @apply bg-white text-green py-1 px-3 rounded-sm;
  }
}

/* ============= GLOBAL CSS =============== */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /* 16px */

:root {
  /* colors */
  --primary-100: #d1e2c4;
  --primary-300: #778a35;
  --primary-500: #31352e;
  --black: #28282b;
  --white: #ebebe8;
}

/* ============= PROJECT CSS =============== */

.navbar {
  background: var(--primary-100);
  color: var(--primary-500);
}

/* PROJECT COLORS */

/* Rich Black: #28282b; --> black */
/* Olive: #778a35; -->green 300 */
/* Sage Green: #d1e2c4; --> light green 100 */
/* Pewter: #ebebe8; --> white */
/* Olive Green: #31352e; --> dark green 500 */
